@{
    ViewBag.Title = "About this Application";
}
<h2>@ViewBag.Title.</h2>


<h3>I made this webpage to display a couple bits of information about myself, while building the framework for more complicated aspects going forward</h3>
