@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rick Thiebout</h1>
    <p class="lead">Hello! My name is Rick Thieobut and I am a senior Management Information Systems major at Ohio University. Welcome to my MIS 4200 website!</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Phi Kappa Psi</h2>
        <img src="https://upload.wikimedia.org/wikipedia/en/7/79/Phi_Kappa_Psi_coat_of_arms.png" alt="PhiPsi">
        <p>
            I rushed Phi Kappa Psi as a freshman during my first semester at Ohio University. In my sophomore year i became the Recruitment Head for the chapter, a role i took very seriously and something i'm very proud of. Phi Kappa Psi helped me professionally as well as socially during my time at Ohio University and i am grateful for the experience as a whole'
        </p>
        <p><a class="btn btn-default" href="https://www.phikappapsi.com">Phi Kappa Psi website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/39/Ohio_University_seal.svg/1024px-Ohio_University_seal.svg.png" alt="OULogo" height="300">
        <p>I began my enrollment at Ohio University in the fall of 2016 and am expected to graduate May 2020. During my time here i have been involved in clubs such as Phi Kappa Psi and ISAP (Information Systems and Analytics Professionals) while maintaining a 3.3 GPA within my major of Management Information Systems. My time at Ohio University has been unbelievable.</p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">OU Homepage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My LinkedIn</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn" height="300">
        <p>Click Below to see my LinkedIn page!</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/rick-thiebout/">LinkedIn Page &raquo;</a></p>
    </div>
</div>

